/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-image: url('../images/cover-image-dark.png');
  --accent-color: var(--approximately-black, #000028);
  --main-bg-color:var(--real-red, #ff0070);
  --main-text-color: var(--text-pink, #f1b2ce);
  --main-heading-color: var(--approximately-black, #000028);
  --nav-color: var(--real-red, #ff0070);
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --section-heading-color: var(--real-red, #ff0070);
  --header-logo-color: var(--title-plum, #db00ff);
  --footer-logo-color: var(--title-plum, #db00ff);
}

.theme-dark .header__rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-image: url('../images/cover-image-dark.png');
  --accent-color: var(--approximately-black, #000028);
  --main-bg-color:var(--real-red, #ff0070);
  --main-text-color: var(--text-pink, #f1b2ce);
  --main-heading-color: var(--approximately-black, #000028);
  --nav-color: var(--real-red, #ff0070);
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --section-heading-color: var(--real-red, #ff0070);
  --header-logo-color: var(--title-plum, #db00ff);
  --footer-logo-color: var(--title-plum, #db00ff);
  }
}