.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  block-size: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  margin-bottom: 30px;
}

/* Декоративные элементы хэдера*/

.decorated-zone {
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    aspect-ratio: 1;
  }

  &::after {
    border-top: var(--border-decor);
    border-right: var(--border-decor);
    right: var(--main-gap);
    top: var(--main-gap);
  }

  @media (width >=1024px) {
      right: 5px;
    }

  &::before {
    border-bottom: var(--border-decor);
    border-left: var(--border-decor);
    left: var(--main-gap);
    bottom: var(--main-gap);
  }
}

.header__rec {
  position: absolute;
  justify-self: end;
  color: var(--nav-color);
  text-transform: uppercase;
  line-height: 25px;
  width: 10px;
  top: var(--main-gap);
  right: calc(var(--main-gap) + 50px);
}

.header__rec::before {
  content: 'REC';
  color: var(--nav-color);
  margin-top: var(--main-gap);
  margin-right: 15px;
  font-weight: normal;
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--nav-color);
  margin-left: 42px;
  margin-top: -18px;
  box-shadow: 0 0 4px 2px var(--nav-color);
}

/* ССылки */

.content__link {
  text-shadow: 2px 1px 0 var(--main-bg-color);
  text-decoration: none;
}

.content__link:focus {
  outline: none;
}

.content__link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

/* Кнопки переключения темы */

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0px 13px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  color: var(--nav-color);
  cursor: pointer;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: var(--border-decor);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active),
.header__theme-menu-button_active {
  border: var(--border-decor);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

/* Контент хэдер */

.hero__title {
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  line-height: 83%;
  font-weight: 700;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--main-bg-color);
}

.title-decor {
  background-color: var(--main-bg-color);
  color: var(--main-heading-color);
}

.header__paragraph {
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
}

/* Основной контент */

.content-section {
  font-style: normal;
  line-height: 23.4px;
  font-size: 18px;
}

.text-blocks {
  display: grid;
  gap: 20px;
}

.text-block {
  display: grid;
}

.content-section__title {
  color: var(--nav-color);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.text-block__title,
.text-block__subtitle {
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  margin-bottom: 10px;
  font-size: 18px;
}

.text-block__title {
  font-weight: 700;
}

.text-block__subtitle {
  margin-top: 10px;
  font-weight: 400;
}

.text-block__content {
  color: var(--main-text-color);
}

.advice__content {
  margin-bottom: 20px;
}

.advice__content:last-child {
  margin-bottom: 0px;
}

.content {
  display: grid;
  padding: var(--main-gap);
  gap: 50px;
}

.causes {
  .content-section__title {
    grid-column: 1/ -1;
  }

  .text-blocks {
    grid-column: 1/ -1;

    @media (width >=1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* Галерея */

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--main-gap);
}

.gallery__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__item {
  list-style-type: none;
}

/* Футер */

.footer {
  display: grid;
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  padding: 10px;
  margin-top: 30px;
}

.footer__title {
  display: grid;
  place-items: center;
}

@media (width >=768px) {
  .header {
    margin-bottom: 40px;
    min-height: 1024px;
    padding: 14px 20px 10px 0;
  }

  .header__paragraph {
    width: calc(50% - 10px);
    justify-self: right;
    margin-bottom: 14px;
  }

  .why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-bottom: 30px;
  }

  .what {
    width: 30%;
  }

  .advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
    margin-top: 30px;
    margin-bottom: 28px;
  }

  .gallery__section {
    display: grid;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 6px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 1024px;
    margin-top: 42px;
  }

  .footer {
    min-height: 1024px;
    margin-top: 42px;
  }
}

@media (width >=1024px) {

  .header {
    min-height: 768px;
    padding-right: 6px;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 4px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__rec {
    right: 56px;
  }

  .content {
    padding-right: 4px;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .text-blocks {
    display: grid;
    grid-column: span 2;
  }

  .text-block {
    display: block;
  }

  .text-block__subtitle {
  margin-top: 20px;
  }

  .causes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer {
    min-height: 768px;
    padding-left: 24px;
    margin-top: 42px;
  }
}